
// Fix for 200px height on swipeable tabs
.tabs-content.carousel {
  height: 100%;
  overflow: inherit;
}

// Fix for collapsible-header class on tr
tr.collapsible-header {
  display: table-row;
  cursor: pointer;
  min-height: inherit;
  line-height: inherit;
  background-color: inherit;
  border-bottom: inherit;

  i {
    width: inherit;
    line-height: inherit;
    display: inherit;
    float: inherit;
    text-align: inherit;
    margin-right: inherit;
  }

  td {
    padding-bottom: 9px;
    padding-top: 9px;
  }
}

table.collapsible {
  border: inherit;
  margin: inherit;
  box-shadow: none;
}


.terrarium-card-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 140px;
}

.side-nav .userView {
  margin-bottom: 0;
}

.side-nav .side-menu-info {
  @extend .amber;

}

.side-nav .side-menu-info-title {
  @extend .grey-text, .text-darken-4;

  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 8px;
}

.side-nav .side-menu-info-title i {
  @extend .grey-text, .text-darken-4;
}

.side-nav .side-menu-info-content {
  @extend .grey-text, .text-darken-3;

  padding-left: 12px;
  padding-bottom: 12px;
  line-height: 24px;
}

.file-card-image {
  padding: 0;
}

.file-card-image img {
  margin: 0;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media only screen and (min-width : 993px) and (max-width : 1520px) {
  .container {
    margin-right: 20px;
    margin-left: 20px;
    width: 95%;
  }
}


.btn-icon-only {
  margin-left: 20px;
  padding: 0 5px;
}

.chartBackgroundColor {
  background-color: rgba(0,0,0,0);
}
.chartTextColor {
  color: rgba(255, 255, 255, 0.7);
}
.chartColor1 {
  color: $primary-color;
}
.chartColor2 {
  color: $primary-color-dark;
}
.chartColor3 {
  color: $primary-color-light;
}
.chartColor4 {
  color: $primary-color;
}
text {
  fill: #000000;
}

/* Material icon select */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


div.select-wrapper.icons ul li {
  @extend .material-icons;
}
div.select-wrapper.icons ul li span {
  font-size: 24px;
}

/* Printable */

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}
page[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="portrait"] {
  width: 42cm;
  height: 29.7cm;
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="portrait"] {
  width: 21cm;
  height: 14.8cm;
}

@media print {
  body * {
    visibility: hidden;
  }
  page * {
    visibility: visible;
  }
}