html,
 button.btn,
 input {
   font-family: Roboto,Oxygen-Sans,-apple-system,BlinkMacSystemFont,"Segoe UI",Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
 }

a[href].btn,
a[href].btn > i.mdi,
.tap-target-content {
  color: #EEE;
}


main .fixed-action-btn a[href] i.mdi {
  color: #EEE;
}

.nav-wrapper {
  padding-left: 310px;
}

thead tr th div.input-field.inline {
  position: relative;
  top: 13px;
}

// Fix for 200px height on swipeable tabs
.tabs-content.carousel {
  height: 100%;
  overflow: inherit;
}

// Fix for collapsible-header class on tr
tr.collapsible-tr-header {
  display: table-row;
  cursor: pointer;
  min-height: inherit;
  line-height: inherit;
  background-color: inherit;
  border-bottom: inherit;

  i {
    width: inherit;
    line-height: inherit;
    float: inherit;
    text-align: inherit;
    margin-right: inherit;
  }

  td {
    padding-bottom: 9px;
    padding-top: 9px;
  }
}

table.collapsible {
  border: inherit;
  margin: inherit;
  box-shadow: none;
}


.terrarium-card-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 140px;
  border-radius: 4px 4px 0 0;
}

.card {
  border-radius: 4px;
}

.card .card-header {
  background-color: $primary-color;
  color: #EEE;
  padding: 10px;
  border-radius: 4px 4px 0 0;
}

.card .card-action {
  border-radius: 0 0 4px 4px;
}

.sidenav .userView {
  padding: 32px 32px 0;
  margin-bottom: 0;
}

.sidenav .side-menu-info {
  @extend .amber;

}

.sidenav .side-menu-info-title {
  @extend .grey-text, .text-darken-4;

  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 8px;
}

.sidenav .side-menu-info-title i {
  @extend .grey-text, .text-darken-4;
}

.sidenav .side-menu-info-content {
  @extend .grey-text, .text-darken-3;

  padding-left: 12px;
  padding-bottom: 12px;
  line-height: 24px;
}

/*
 * Border for collapsible navi items
 */
.slide-out div.collapsible-body {
  border-left: 5px $primary-color solid;
}

.slide-out > li.active > a,
.slide-out > li.active > a > i,
.slide-out div.collapsible-body > ul > li.active > a ,
.slide-out div.collapsible-body > ul > li.active > a > i{
  color: #EEE;
}

.slide-out div.collapsible-body > ul > li > a {
  padding: 0 18.5px 0 31px;
}

/*
 * Background for active navi items
 */
.slide-out > li.active {
  background-color: $primary-color;
}

/*
 * Remove margin from divider in navi
 */
.slide-out > li > div.divider {
  margin: 0
}

.file-card-image {
  padding: 0;
}

.file-card-image img {
  margin: 0;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media only screen and (min-width : 993px) and (max-width : 1520px) {
  .container {
    margin-right: 20px;
    margin-left: 20px;
    width: 95%;
  }
}

@media only screen and (min-width : 993px) {
  .navbar-fixed nav {
    width: inherit;
    left: 300px; //calculated distance from left+side nav
    right: 0;
  }
}


.btn-icon-only {
  margin-left: 20px;
  padding: 0 5px;
}

.chartBackgroundColor {
  background-color: rgba(0,0,0,0);
}
.chartTextColor {
  color: rgba(255, 255, 255, 0.7);
}
.chartColor1 {
  color: $primary-color;
}
.chartColor2 {
  color: $primary-color-dark;
}
.chartColor3 {
  color: $primary-color-light;
}
.chartColor4 {
  color: $primary-color;
}
text {
  fill: #000000;
}

.google-visualization-tooltip {
  border-radius: 5px !important;
  width: 200px;
}

/* Printable */

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}
page[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="portrait"] {
  width: 42cm;
  height: 29.7cm;
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="portrait"] {
  width: 21cm;
  height: 14.8cm;
}

@media print {
  body * {
    visibility: hidden;
  }
  page * {
    visibility: visible;
  }
}

#left-top-menu-logo-wrapper {
  height: 215px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.07), 0 1px 5px 0 rgba(0,0,0,.07), 0 3px 1px -2px rgba(0,0,0,.07);
}

#login-title {
  font-weight: 900;
  font-family: "Montserrat", "Adobe Blank", sans-serif;
  font-style: normal;
  font-size: 48pt;
  text-transform: uppercase;
  text-align: center;
}

.brand-title {
  font-weight: 800;
  font-family: "Montserrat", "Adobe Blank", sans-serif;
  font-style: normal;
  font-size: 28pt;
  text-transform: uppercase;
  text-align: center;
}

.progress-bar-top {
  width: 100%;
  margin: 0;
  height: 10px;
  position: relative;
  z-index: 1001
}

.progress-bar-top .progress {
  display: none;
  width: 100%;
  margin: 0
}

.no-progress-bar-spacer {
  height: 10px;
}

.table-details-collapsible {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
}

.table-details-collapsible ul {
  margin: 5px;
}

.dygraph-axis-label.dygraph-axis-label-x,
.dygraph-axis-label.dygraph-axis-label-y {
  font-family: Roboto,sans-serif;
}

input.dygraph-roller {
  border: 0;
}

.dygraph-legend-div {
  margin-left: 50px;
  margin-top: 20px;
}

/*
Loading animation
 */
.overlay-loader .loader-icon.spinning-logo {
  -webkit-animation: spinning-logo 1.3s infinite ease;
  -moz-animation: spinning-logo 1.3s infinite ease;
  -ms-animation: spinning-logo 1.3s infinite ease;
  -o-animation: spinning-logo 1.3s infinite ease;
  animation: spinning-logo 1.3s infinite ease;
}

.card .card-image img.loader-icon {
  display: inherit;
}

@-webkit-keyframes spinning-logo {
  0% { -webkit-transform: rotate(0deg) }
  20% { -webkit-transform: rotate(-45deg) }
  100% { -webkit-transform: rotate(360deg) }
}

@-moz-keyframes spinning-logo {
  0% { -moz-transform: rotate(0deg) }
  20% { -moz-transform: rotate(-45deg) }
  100% { -moz-transform: rotate(360deg) }
}

@-o-keyframes spinning-logo {
  0% { -o-transform: rotate(0deg) }
  20% { -o-transform: rotate(-45deg) }
  100% { -o-transform: rotate(360deg) }
}

@keyframes spinning-logo {
  0% { transform: rotate(0deg) }
  20% { transform: rotate(-45deg) }
  100% { transform: rotate(360deg) }
}

img.desaturate {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  //filter: url(desaturate.svg#greyscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}

.sensorreading-card-indicator {
  font-weight: 300;
  font-size: 24pt;
}

img.tiny {
  height: 32px;
  width: 32px;
}


/*
 * Extending Materializecss
 */
.card-panel {
  &.info {
    @extend .white-text;
    border: 1px solid color('blue', 'lighten-1');
    background-color: color('blue', 'lighten-2');
  }

  &.ok {
    @extend .white-text;
    border: 1px solid color('teal', 'base');
    background-color: color('teal', 'lighten-1');
  }

  &.warning {
    @extend .white-text;
    border: 1px solid color('orange', 'darken-3');
    background-color: color('orange', 'darken-2');
  }

  &.critical {
    @extend .white-text;
    border: 1px solid color('red', 'darken-4');
    background-color: color('red', 'darken-2');
  }
}

.collection {
  &.info {
    @extend .white-text;
    border: 1px solid color('blue', 'lighten-1');
    border-radius: 4px;

    .collection-header {
      background-color: color('blue', 'lighten-1');
      border-bottom: 1px solid color('blue', 'lighten-1');
    }

    .collection-item {
      background-color: color('blue', 'lighten-2');
      border-bottom: 1px solid color('blue', 'lighten-2');
    }
  }

  &.ok {
    @extend .white-text;
    border: 1px solid color('teal', 'base');
    border-radius: 4px;

    .collection-header {
      background-color: color('teal', 'base');
      border-bottom: 1px solid color('teal', 'base');
    }

    .collection-item {
      background-color: color('teal', 'lighten-1');
      border-bottom: 1px solid color('teal', 'base');
    }
  }

  &.warning {
    @extend .white-text;
    border: 1px solid color('orange', 'darken-3');
    border-radius: 4px;

    .collection-header {
      background-color: color('orange', 'darken-3');
      border-bottom: 1px solid color('orange', 'darken-3');
    }

    .collection-item {
      background-color: color('orange', 'darken-2');
      border-bottom: 1px solid color('orange', 'darken-3');
    }
  }

  &.critical {
    @extend .white-text;
    border: 1px solid color('red', 'darken-4');
    border-radius: 4px;

    .collection-header {
      background-color: color('red', 'darken-4');
      border-bottom: 1px solid color('red', 'darken-4');
    }

    .collection-item {
      background-color: color('red', 'darken-2');
      border-bottom: 1px solid color('red', 'darken-4');
    }
  }
}

.collection .collection-item a[href] > i.mdi {
  color: #EEE;
}

.sidenav.sidenav-fixed {

  .collapsible-header {
    padding: 0 0 0 ($sidenav-padding * 2);
  }

}


// Tiny buttons
$button-tiny-icon-font-size: 0.6rem !default;
$button-tiny-height: $button-height * 0.4 !default;

// Small buttons
$button-small-icon-font-size: 1.0rem !default;
$button-small-height: $button-height * 0.6 !default;

.btn-tiny,
.btn-small {
  font-size: $button-font-size;
  outline: 0;

  i {
    font-size: $button-icon-font-size;
    line-height: inherit;
  }
}

// Small button
.btn-small {
  @extend .btn;
  height: $button-small-height;
  line-height: $button-small-height;
  padding-left: 10px;
  padding-right: 10px;

  i {
    font-size: $button-small-icon-font-size !important;
  }
}

// Small button
.btn-tiny {
  @extend .btn;
  height: $button-tiny-height;
  line-height: $button-tiny-height;
  padding-left: 6px;
  padding-right: 6px;

  i {
    font-size: $button-tiny-icon-font-size !important;
  }
}

.btn {
  &.btn-info {
    background-color: color('blue', 'lighten-1');
  }

  &.btn-ok {
    background-color: color('teal', 'base');
  }

  &.btn-warning {
    background-color: color('orange', 'darken-3');
  }

  &.btn-critical, &.btn-danger {
    background-color: color('red', 'darken-4');
  }
}

.row {
  &.row-no-margin {
    margin: inherit;
  }
}

.dropdown-content {
  overflow: visible !important;
}

.breadcrumb {
  font-size: inherit;
}

.primary-background-color {
  background-color: $primary-color;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-tiny):not(.btn-large):not(.btn-floating) {
  color: $primary-color-light;
}

.preloader-wrapper {
  &.tiny {
    width: 24px;
    height: 24px;
  }
}

/*
Make sure drop downs, time/date pickers and such are visible in small modals
 */
.modal, .picker__holder {
  overflow: visible;
}

/*
 * Makes card titles on bright background images readable
 * Fixes positioning on card image
 */
.card .card-image .card-title {
  width: 100%;
  padding: 0 0 6px 18px;
  text-shadow: 0px 0px 1px #000000;
}

.card .card-image .card-title a {
  color: #EEE;
}

/*
 * Used e.g. in card reveals
 */
div.card div.card-reveal span.card-title.card-title-small {
  font-size: 18px;
}

div.card div.card-content {
  padding: 18px;
}

.collection.with-header .collection-header {
  padding: 5px 20px;
}

/*
 * Margin on table filter fields
 */
div.input-field.inline {
  margin-top: 0;
}

table thead tr th {
  margin: 0 5px;
}

div.card-sub-header {
  margin-bottom: 10px;
}

.no-margin {
  margin: 0 !important;
}

.ciliatus-search-wrapper {
  margin: 0
}

.ciliatus-search-wrapper > label {
  top: -14px !important;
  margin-left: 15px !important;
}

.ciliatus-search-wrapper > label.active {
  display: none;
}

.ciliatus-search-wrapper > input {
  padding-left: 15px !important;
}

.ciliatus-search-wrapper ul.autocomplete-content {
  position: absolute;
  top: 46px !important;
}

/*
 * Material Icons
 */
.mdi {
  color: rgba(0,0,0,.54);
  vertical-align: middle;
}

.white-text .mdi,
.sidenav li.active > a > i.mdi,
.btn i.mdi,
.card-header i.mdi {
  color: #EEE;
}

.sidenav ul.collapsible > li > a > i.mdi {
  position: relative;
  top: -1px;
  margin-right: 32px;
}

.sidenav ul.collapsible > li > a > i.mdi.right {
  position: relative;
  top: -1px;
  margin-right: 10px;
}

.sidenav > li.active,
.sidenav > li.active > a {
  background-color: #d84315;
  color: #EEE;
}

.btn-floating i.mdi {
  position: relative;
  top: -1px;
}

a.collapsible-header > i.mdi {
  color: rgba(0,0,0,.54) !important;
}

.breadcrumb::before {
  content: '\f142';
  font-family: 'Material Design Icons';
}

a.btn-floating.btn-large > i.mdi {
  position: relative;
  top: -1px;
}

label[for='ask-me-something'] {
  top: -10px !important;
  margin-left: 3em !important;
}

.collapsible-tr-body {
  display: none;
}

.tap-target-wrapper.open + ul {
  z-index: 2001;
}