.terrarium-card-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 140px;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media only screen and (min-width : 993px) and (max-width : 1520px) {
  .container {
    margin-right: 20px;
    margin-left: 20px;
    width: 95%;
  }
}


.btn-icon-only {
  margin-left: 20px;
  padding: 0 5px;
}

.chartBackgroundColor {
  background-color: rgba(0,0,0,0);
}
.chartTextColor {
  color: rgba(255, 255, 255, 0.7);
}
.chartColor1 {
  color: $primary-color;
}
.chartColor2 {
  color: $primary-color-dark;
}
.chartColor3 {
  color: $primary-color-light;
}
.chartColor4 {
  color: $primary-color;
}
text {
  fill: #000000;
}