.timeline {
  position: relative;
}

.timeline .timeline-event {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.timeline .timeline-event .timeline-content {
  position: relative;
  width: calc(80% - 50px);
  left: 50px;
}

.timeline .timeline-event::before {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: 19px;
  //left: calc(50% - 1px);
  top: 0;
}

.timeline .timeline-event::after {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: 19px;
  //left: calc(50% - 1px);
  top: calc(50% + 30px);
}

.timeline .timeline-event:first-child::before {
  display: none;
}

.timeline .timeline-event:last-child::after {
  display: none;
}


.timeline .timeline-badge {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: #d2d2d2;
  top: calc(50% - 20px);
  //right: calc(50% - 20px);
  border-radius: 50%;
  text-align: center;
  cursor: default;
}

.timeline .timeline-badge i {
  font-size: 25px;
  line-height: 40px;
}

.timeline .timeline-date {
  position: absolute;
  left: -190px;
  top: calc(50% - 10px);
  text-align: right;
  width: 180px;
}



@media (max-width: 1518px) {
  .timeline {
    margin-left: 10%;
    width: 80%;
  }
  .timeline .timeline-event .timeline-content {
    width: calc(90% - 10px);
  }
}

@media (max-width: 993px) {
  .timeline {
    margin-left: 10%;
    width: 90%;
  }
  .timeline .timeline-event .timeline-content {
    width: calc(100% - 10px);
  }
}

@media (max-width: 600px) {
  .timeline {
    top: 20px;
    width: 96%;
    margin-left: 2%;
  }
  .timeline .timeline-event .timeline-content {
    margin: 10px;
    width: 100%;
    left: 0;
  }
  .timeline .timeline-event::before {
    left: 50%;
  }
  .timeline .timeline-event::after {
    left: 50%;
    z-index: -1;
  }
  .timeline .timeline-badge {
    display: none;
  }
  .timeline .timeline-date {
    left: calc(50% + 10px);
    top: -10px;
    text-align: left;
  }
}
